
@media (max-width: 576px) {
	.popup_img{
		width: 100px !important;
	}
	
}

.popup{
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top:0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;


	/* Скроем окно */
	opacity: 0;
	pointer-events: none;
	z-index: -1;
}

.popup--active {
	z-index: 1003;
	opacity: 1;
	pointer-events: all;
}

.popup_content{
	background-color: var(--white);
	border-radius: 20px;
	padding: 40px;
	display: flex;
	flex-direction: column;

	aspect-ratio: 1.5 / 1;  /* пропорции для высоты и ширины*/
	height: 80%; 
}
.popup_img{
	/* width: 160px; */
	width: 90%;
	aspect-ratio: 160 / 200;
	border-radius: 20% / 10%; /* Радиус X / Радиус Y */
	object-fit: cover;

}
.name{
	font-family: Jost;
font-weight: 600;
font-size: 24px;
line-height: 38.4px;
letter-spacing: 0%;

}
.specific{
	font-family: Jost;
font-weight: 400;
font-size: 18px;
line-height: 28.8px;
letter-spacing: 0%;

}
.socialWebs{
	margin-right: 10px;
	transition: opacity .5s ease;
}
.socialWebs:hover{
	opacity: 0.7;

}
.close_btn{
	cursor: pointer;
	font-family: Jost;
	font-weight: 400;
	font-size: 18px;
	line-height: 28.8px;
	letter-spacing: 0%;
	color: var(--lightblack);	 
	display: flex;
	justify-content: right;
	transition: color .3s ease;
}
.close_btn:hover{
	color: var(--red);
}
.popup_pgs{
	display: contents; /* из-за этого и возможно display flex, получилось,
	 что текст не выходит за края белого блока (popup_contents)*/
 
}

.popup_pgs_header{
	font-family: Jost;
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	letter-spacing: 0%;
}
.popup_pgs_header{
	display: flex;
	margin-top: 15px;
	margin-bottom: 5px;
	color: var(--lightblack);
	transition: color .3s ease;
}
.popup_pgs_header:hover{
	color: var(--red);
}
.popup_pgs_header.active{
	font-family: Jost;
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	letter-spacing: 0%;
	color: var(--red);	
}
.popup_pgs_text{
	font-family: Jost;
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	letter-spacing: 0%;
	border-top: solid 1px #141024;
	margin-top: 10px;
	
	overflow-y: scroll;  /* Показывает скролл, если текст длинный */
	flex-grow: 1; /* Заполняет оставшееся пространство */

	word-wrap: break-word;
	overflow-wrap: break-word;
}