@media (max-width: 768px) {
	.reg_text1,.reg_text2{
		
		text-align: center;
	}
	
}

.register-block{
	background-color: var(--red);
	color: var(--white);
	width: 100%;
	display: flex; /* Подстраивается по размеру текста */
	padding: 20px; /* При необходимости добавьте отступы */
	justify-content: center;
}
.reg_content{
	margin: 50px;
}
.reg_text{
	padding: 10px;
}
.reg_text1{
	font-family: Jost;
	font-weight: 600;
	font-size: 36px;
	line-height: 46.8px;
	letter-spacing: 0%;
	display: block;
	
}
.reg_text2{
	font-family: Jost;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	letter-spacing: 0%;
	display: block;
	
}

.form_btn{
	background-color: var(--darkpurple);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	height: 50px;
	cursor: pointer;
	transition: transform .5s ease;
}
.form_btn:hover{
	transform: scale(1.1);
}