.A_c{
	background-color: var(--lightblue);
	width: 100%;
	height: 485px;
	top: 1694px;
	left: -1px;
	position: absolute;

}

.A_c_head{
	font-family: Jost;
	font-size: 50px;
	font-weight: 600;
	line-height: 80px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;

	width: 682px;
	height: 80px;
	top: 100px;
	left: 380px;
	position: absolute;
}
.A_c_body{
	/* width: 170px;
	height: 38px; */
	top: 300px;
	left: 380px;
	position: absolute;
}
.A_c_body1{
	font-family: Jost;
	font-size: 24px;
	font-weight: 600;
	line-height: 38.4px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
}
.A_c_body2{
	color: var(--lightblack);
	font-family: Jost;
	font-size: 18px;
	font-weight: 400;
	line-height: 28.8px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;

	max-width: 1070px;

}
